@import 'src/assets/mixins';
@import 'src/assets/variables';

.container {
  @include flexStyle(column, center, flex-start, nowrap);
  position: relative;
  width: 100%;
  margin-top: 32px;

  .label {
    @include text($textColor, $fieldFont, 16px, 400);
    margin-bottom: 20px;
  }

  .inputContainer {
    @include sizeBlock(100%, 68px);
    border-radius: 16px;
    border: 1px solid $greySecond;
    background-color: $greySecondTransparent;
    @include flexStyle(column, space-between, center, wrap);
    position: relative;

    .indicator {
      @include text($textColor, $mainFont, 30px, 900);
      height: 36px;
      text-align: right;
      @include position(absolute, 15px, inherit);
      right: 24px;
      @media (max-width: 320px) {
        @include text(#333E48, $mainFont, 22px, 900);
        top: 20px;
      }
    }

    .currency {
      top: 10px;
      @media (max-width: 320px) {
        top: 18px;
      }
    }

    .percent {
      @include sizeBlock(69px, 54px);
      @include flexStyle(row, center, center, nowrape);
      top: 7px;
      right: 7px;
      background: $indicatorBlockColor;
      border-radius: 16px;
      @include text($textColor, $mainFont, 20px, 900);
      line-height: 120%;
      @media (max-width: 320px) {
        @include text(#333E48, $mainFont, 22px, 900);
        top: 4px;
        right: 4px;
      }
    }

    .textInput {
      @include text($textColor, $mainFont, 30px, 900);
      @include sizeBlock(88.7%, 100%);
      text-align: left;
      padding-right: 46px;
      border: none;
      background-color: transparent;
      @media (max-width: 320px) {
        @include text(#333E48, $mainFont, 22px, 900);
      }
    }

    .trackContainer {
      width: 88.7%;
      @include position(absolute, 100%, inherit);
      height: 2px;
      margin-top: -2px;

      .range {
        @include position(absolute, 100%, 0);
        -webkit-appearance: none;
        background-color: $grey;
      }

      ::-webkit-slider-runnable-track {
        height: 2px;
        -webkit-appearance: none;
        color: $accentColor;
      }

      ::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 2px;
        cursor: ew-resize;
        background: transparent;
        box-shadow: -900px 0 0 900px $accentColor;
      }

      ::-moz-range-progress {
        background-color: $accentColor;
      }

      ::-moz-range-track {
        background-color: $grey;
      }

      ::-ms-fill-lower {
        background-color: $accentColor;
      }

      ::-ms-fill-upper {
        background-color: $grey;
      }
    }

    .thumbContainer {
      width: 88.7%;
      position: absolute;
      bottom: -18px;

      .thumb {
        height: 24px;
        background-color: transparent;
      }

      ::-webkit-slider-thumb {
        @include sizeBlock(20px, 20px);
        border-radius: 50%;
        -webkit-appearance: none;
        cursor: ew-resize;
        background: $accentColor;
      }
    }

    &:hover {
      .trackContainer {
        height: 1px;
        margin-top: -2px;

        ::-webkit-slider-runnable-track {
          height: 1px;
          mix-blend-mode: color-burn;
        }

        ::-webkit-slider-runnable-track {
          height: 1px;
          mix-blend-mode: color-burn;
        }

        ::-webkit-slider-thumb {
          height: 1px;
          mix-blend-mode: color-burn;
        }

      }

      .thumbContainer {
        ::-webkit-slider-thumb {
          @include sizeBlock(24px, 24px);
          transition: 0.2s;
        }
      }
    }

    &:active {
      background-color: #fff;
      border: 2px solid $greySecond;
      border-radius: 16px;

      .trackContainer {
        margin-top: 0;
      }

      .percent {
        background: rgba(235, 235, 236, 0.35);
        box-shadow: 2px 2px 2px 1px #E5E5E5;
      }
    }
  }
}

.disabled {
  opacity: 0.5;
}


