$textColor: #575757;
$secondTextColor: #333333;
$accentColor: #FF9514;
$lightAccentColor: rgba(255, 149, 20, 0.40);

$lightColor: #C4C4C4;
$titleColor: #111111;

$bcgColor: rgba(229, 229, 229, 0.3);

$grey: #E1E1E1;
$greySecond: #F3F3F4;
$greySecondTransparent: rgba(209, 209, 210, 0.25);
$indicatorBlockColor: rgba(184, 184, 185, 0.14);

$mainFont: 'Nekst';
$fieldFont: 'Gilroy';
