$textColor: #575757;
$secondTextColor: #333333;
$accentColor: #FF9514;
$lightAccentColor: rgba(255, 149, 20, 0.40);

$lightColor: #C4C4C4;
$titleColor:#111111;

$bcgColor: rgba(229, 229, 229, 0.4);

$grey:#E1E1E1;
$greySecond: #F3F3F4;
$greySecondTransparent: rgba(180, 178, 178, 0.2);
$indicatorBlockColor: rgba(184, 184, 185, 0.25);

$mainFont: 'Nekst';
$fieldFont: 'Gilroy';
