$textColor: #575757;
$accentColor: #FF9514;
$lightAccentColor: rgba(255, 149, 20, 0.40);

$lightColor: #C4C4C4;
$titleColor:#111111;

$bcgColor:#E5E5E5;

$grey:#E1E1E1;
$greySecond: #F3F3F4;


$mainFont: 'Nekst';
$fieldFont: 'Gilroy';
